<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><%=@shirt[:title]%>
    <h2><%=@shirt[:size]%></h2>
    <h2><%=@shirt[:colour]%></h2>
    <h2><%=@shirt[:material]%></h2>
  <a href="/"><h2>home</h2></a>
  </body>
</html>
